<%= render "banner" %>
<div class="container">
  <div class="d-flex justify-content-left mt-3" w="300">
    <h1><%= @article.name %></h1>
    <%= link_to "✏️", edit_article_path(@article) %>
    <%= link_to "♻️", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" }  %>
  </div>

  <p><%= @article.content %></p>

</div>

